*{
    margin: 0;
    padding: 0;
    border: 0;
}

.bg-color-unico{
    background-color: black;
    font-family: "Fredoka", sans-serif;;
}
.bg-color-personalizado{
    background-color: rgb(0, 207, 243);
   
}

.card-body{
    background-color: rgb(0, 207, 243);

}

.btn-color{
    background-color: rgb(0, 207, 243);

}

.piedepag{
    background-color:rgb(0, 207, 243);
}

.Color-w{
    color: white;
}